body{
       margin:0;
       font-family: 'Ubuntu',sans-serif;
       font-size: 1.125rem;
       color:#707070;
       font-weight: 300;
}
img{
       max-width: 100%;
       display: block;
       
}
/* TYPOGRAPHY*/
h1,
h2,
h3{
       font-family: 'Lora', serif;
       font-weight: 400;
       color:#143774;
       margin-top:0;
}
h1{
       font-size: 2rem;
       margin:0;
}
h3{
       color: #1792D2;
}
a{
       color:#1792D2;
}
a:hover,
a:focus{
       color:#143774;
}
.subtitle{
       font-weight: 700;
       color:#1792D2;
       font-size: .75rem;
       margin:0;
}

.article-title{
       font-size: 1.5rem;
}
.article-read-more,
.article-info{
       font-size: .875rem;
      
}
.article-body #bold{
       color:#707070;
       font-weight: 700;
}
.article-body #underline{
       color:#1792D2;
       text-decoration: underline #1792D2;
}
.article-read-more{
       text-transform: uppercase;
       text-decoration: none;
       color:#1792D2;
       font-weight: 700;
}
.article-info{
       margin:2em 0;
}
/*LAYOUT*/
.container{
       width: 90%;
       max-width: 900px;
       margin:0 auto;
}
.container-flex{
       display: flex;
       justify-content: space-between;
       flex-direction: column;
}
header{
       background-color: #F8F8F8;
       padding: 2em 0;
       text-align:center;
}
footer{
       background-color: #143774;
       color:#fff;
       text-align: center;
       padding:1.45em 0;
}
@media (min-width:675px){
       .container-flex{
              flex-direction: row;
       }
       main{
              width: 70%;
              
       }
       
       aside{
              width: 25%;
              min-width: 250px;
              margin-left:1em;
       }

}
nav ul{
       display: flex;
       list-style: none;
       padding:0;
       justify-content: center;
}
nav li{
       margin-left:2em;
}
nav a{
       text-decoration: none;
       color:#717171;
       font-weight: 700;
       padding:.25em 0;
}
nav .active{
       border-bottom:1px solid #717171;
}
nav .active:hover{
       color:#717171;
}
nav a:hover,nav a:focus{
       color:#1792D2;
}
@media(max-width:675px){
       nav ul{
              flex-direction: column;
       }
       nav li{
              margin:.5em 0;
       }
}
header{
       margin-bottom: 2em;
}

.article-featured{
      padding-bottom: 2em;
      margin-bottom: 2em;
       border-bottom: 1px #717171 solid;
}
.article-recent{
       display: flex;
       flex-direction: column;
       margin-bottom: 2em;
}

.article-recent-main{
       order: 2;
}
.article-recent-secondary{
       order:1;
}
@media (min-width:675px){
       .article-recent{
              flex-direction: row;
              justify-content: space-between;
       }
       .article-recent-main{
              width: 68%;
             
       }
       .article-recent-secondary{
              width: 30%;
            
       }
       .article-featured{
              display: flex;
              flex-direction: column;
       }
       .article-image{
              order: -2;
              width: 100%;
              min-height: 250px;
              object-fit: cover;
             
       }
       .article-info{
              order:-1;
       }
}
.sidebar-widget{
       margin-bottom: 2em;
       border:0.7em #ebebeb solid;
       padding:0 1em;
}
/* SIDEBAR*/
.widget-title{
       margin-top: 1em;
       font-family:'Ubuntu',sans-serif;
       font-weight: 700;
       font-size:1rem;
}
.widget-body{
       color:#143774;
       font-size: 1rem;
}
.widget-recent-post{
       display: flex;
       flex-direction: column;
       border-bottom: 1px #707070 solid;
       margin-bottom: 1em;
       
}
.widget-recent-post:last-child{
       border:none;
       margin: 0;
}
.widget-image{
       order: -2;
}
.widget-recent-post-title{
       font-size: 1rem;
       order: -1;
       color:#143774;
}

/*ABout me*/

.image-full{
       height: 300px;
       width: 100%;
       object-fit: cover;
       margin-bottom: 2.5em;
}
.about-me-container{
       margin-bottom: 4em;
}